.root {
    margin: 0 8px 16px 8px;
}

.header {
    font-size: 48px;
    margin: 8px 0 16px 0;
    text-align: center;
}

@media (min-width: 600px) {
    .root {
    
    }
    .header {
       text-align: left
    }
}