.header {
    margin: 8px 0;
}

.form {
    display: flex;
    width: 100%;

}

.input {
    font-family: inherit;
    font-size: 16px;
    flex: 1 1 auto;
    margin-right: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.button {
    flex: 0 1 auto;
    padding: 8px 16px 8px 16px ;
    font-family: inherit;
    border-radius: 4px;
    background-color: #ccc;
    color: 
}